# List of files/folder not tracked by Git



# GEOtop output folders
Templink_sim/*/tabs/*
Templink_sim/*/maps/*
Templink_sim/*/rec/*
Templink_sim/*/*.log
Templink_sim/*/_SUCCESSFUL_RUN


# Input data preparation files

# Temporary files automatically created by R 
R_scripts/.Rhistory